@import "varibles";
@import "mixins";

:root[data-theme="blue"] {
  @include spread-map($theme-map-blue);
}

:root[data-theme="white"] {
  @include spread-map($theme-map-white);
}

:root[data-theme="purple"] {
  @include spread-map($theme-map-purple);
}

html,
body {
  height: 100%;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-main;
  background: theme-var(--background-main);
}

.all-caps {
  text-transform: uppercase;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  position: relative;
  bottom: 0.75rem;

  a {
    color: hsl(228, 45%, 44%);
  }
}

.base {
  display: grid;
  grid-gap: 24px;
  background-color: theme-var(--background-main);

  @include sm {
    width: 23.438rem;
  }

  @include xl {
    width: 33.75rem;
  }
}

.btn-pad {
  @include sm {
    width: 20.438rem;
    height: 26.25rem;
    margin: 0 1.5rem;
    border-radius: 0.625rem;
  }

  @include xl {
    width: 33.75rem;
    height: 30rem;
    margin: 0 1.875rem;
    border-radius: 0.625rem;
  }

  background-color: theme-var(--background-btn-group);

  .btn-group {
    display: grid;
    @include sm {
      grid-gap: .813rem;
      margin: 1.5rem;
    }

    @include xl {
      grid-gap: 1.563rem;
      margin: 1.875rem;
    }

    grid-template-columns: repeat(4, [col] auto);
    grid-template-rows: repeat(5, [row] auto);

    button {
      @include sm {
        width: 3.75rem;
        height: 4rem;
        border-radius: 0.313rem;
      }

      @include xl {
        width: 6.313rem;
        height: 4rem;
        border-radius: 0.313rem;
      }

      font-family: inherit;
      font-size: 1.75rem;
      line-height: 1.938rem;
      color: theme-var(--text-dark);
      cursor: pointer;
      font-style: normal;
      font-weight: bold;
      align-items: center;
      text-align: center;
      background: theme-var(--key-num-background);
      border: 0;
      box-shadow: inset 0rem -0.25rem 0rem theme-var(--key-num-shadow);

      &:active {
        background: theme-var(--key-num-background-active);
        transform: translateY(4px);
      }

      &:nth-last-child(1) {
        color: theme-var(--text-equals);
        font-size: 1rem;
        line-height: 1.125rem;
        background: theme-var(--key-enter);
        box-shadow: inset 0rem -0.25rem 0rem theme-var(--key-enter-shadow);

        &:active {
          background: theme-var(--key-enter-active);
        }
      }

      &:nth-last-child(1),
      &:nth-last-child(2) {
        grid-column: span 2;
        width: 100%;
      }

      &:nth-child(4),
      &:nth-last-child(2) {
        font-size: 1rem;
        line-height: 1.125rem;
        color: theme-var(--text-light);
        background: theme-var(--key-background);
        box-shadow: inset 0rem -0.25rem 0rem theme-var(--key-shadow);

        &:active {
          background: theme-var(--key-background-active);
        }
      }
    }
  }
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: inherit;
}

.display {
  @include sm {
    width: 20.438rem;
    height: 5.5rem;
  }

  @include xl {
    width: 33.75rem;
    height: 8rem;
  }
  

  input {
    @include sm {
      margin: 0 1.5rem;
    }
  
    @include xl {
      margin: 0 2rem;
    }
    width: inherit;
    
    
    height: 100%;
    background: theme-var(--background-screen);
    color: theme-var(--text-display);
    border-radius: 0.625rem;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    cursor: zoom-in;
    text-align: end;
    padding-right: 1.5rem;
    font-family: inherit;
    font-size: 2rem;
    line-height: 2.25rem;

    &:focus {
      outline: none;
    }
  }
}

.mt {
  top: 1.625rem;
  position: relative;
}

.options-label {
  display: grid;
  grid-template-columns: repeat(3, 1rem);
  justify-content: space-between;
  width: 4.375rem;
  text-align: center;
  padding-bottom: 0.313rem;

  p {
    margin: 0;
    font-family: inherit;
  }
}

.radios {
  display: grid;
  grid-template-columns: repeat(3, 1rem);
  grid-template-rows: auto;
  position: relative;
  padding: 0 0.313rem;
  width: 4.375rem;
  height: 1.563rem;
  background-color: theme-var(--background-btn-group);
  border-radius: 0.813rem;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  &:before {
    content: "  ";
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 1.563rem;
    background-color: theme-var(--background-btn-group);
    border-radius: 0.813rem;
  }

  label {
    display: inline-block;
    width: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
  }

  .slider {
    position: absolute;
    left: 0%;
    top: 0;
    width: 1rem;
    height: 1rem;
    padding-bottom: 10%;
    margin: 6% 0 0 5%;
    background: theme-var(--key-enter);
    border-radius: 50%;
    transition: transform 1s;
    animation-timing-function: ease-in-out;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    transition: 0.2s left 0.05s ease-in-out;
  }

  input[type="radio"] {
    &:not(:checked),
    &:checked {
      display: none;
    }
  }

  input#theme1:checked ~ .slider {
    animation-name: theme1;
    left: 0;
  }

  input#theme2:checked ~ .slider {
    animation-name: theme2;
    left: 33%;
  }

  input#theme3:checked ~ .slider {
    animation-name: theme3;
    left: 66%;
  }

  @keyframes theme1 {
    30%,
    70% {
      transform: scale(0.5);
    }
  }
  @keyframes theme2 {
    30%,
    70% {
      transform: scale(0.5);
    }
  }
  @keyframes theme3 {
    30%,
    70% {
      transform: scale(0.5);
    }
  }
}

.theme {
  font-size: 13px;
  display: grid;
  grid-template-columns: repeat(2, 4.5rem);
  grid-template-rows: auto;
}

.text-center {
  text-align: center;
}

.theme-picker {
  display: grid;
}

.title {
  font-size: 2.25rem;
  padding: 0px;
  margin: 0%;
}

.toolbar {
  display: grid;
  grid-template-columns: repeat(2, [col] auto);
  color: theme-var(--text-display);
  height: 2.75rem;
  margin: 1.75rem 1.5em auto 1.5em;
  justify-content: space-between;
}
